* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.2s ease;
}

:root {
  --netflix-red: #E50914;
  --netflix-red-hover: #F40612;
  --netflix-black: #141414;
  --netflix-gray-text: #808080;
  --netflix-white: #FFFFFF;
  --netflix-pure-black: #000000;
  
  --font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

html, body {
  background-color: var(--netflix-black);
  color: var(--netflix-white);
  font-family: var(--font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  width: 100vw;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
  border: none;
  font-family: var(--font-family);
}

button:hover {
  filter: brightness(1.1);
}

ul {
  list-style: none;
}

::-webkit-scrollbar {
  width: 5px; 
  height: 5px;
}
::-webkit-scrollbar-track {
  background: #141414;
}
::-webkit-scrollbar-thumb {
  background: #E50914; 
  border-radius: 10px;
}
